html, body {
    height: 100%;
    font-family: "Gill Sans", sans-serif;
    text-align: center;
}
a, p {
    color: var(--bs-secondary);
}
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
/*--------------------- Header section -----------------------*/
.header {
    padding: 40px 45px 0;
    padding-top: 40px;
}
@media (max-width: 576px) {
    .header {
        padding: 40px 0 0;
    }
}
.site-logo img {
    width: 150px;
}
/*------------------- Gallery Page -------------------*/
.page {
    padding: 80px 15px 0;
}
@media (max-width: 576px) {
    .page {
        padding: 30px 15px;
    }
}
.wrap {
    max-width: 1570px;
    margin: 0 auto;
}

.description {
    margin: 10px 0;
    font-weight: 100; 
}
